@model KiDelicia.Models.ConsumoComanda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ConsumoComanda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ValorConsumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorConsumo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataHoraLancamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataHoraLancamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdConsumoComanda }) |
    @Html.ActionLink("Back to List", "Index")
</p>
