@model KiDelicia.Models.Empresa

@{
    ViewBag.Title = "Excluir";
}

<section id="page-content">

    <div class="header-content">
        <h2><i class="fa fa-trash"></i>Excluir a Empresa</h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Você está aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="@Url.Action("index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Excluir Empresa</li>
            </ol>
        </div>
    </div>
    <div class="body-content animated fadeIn">
        <h3>Você tem certeza que quer excluir esta empresa?</h3>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr>
                        <th class="text-right">
                            @string.Format("{0}:", Html.DisplayNameFor(model => model.NomeFantasia)):
                        </th>
                        <td class="text-left">
                            @Html.DisplayFor(model => model.NomeFantasia)
                        </td>
                    </tr>
                    <tr>
                        <th class="text-right">
                            @string.Format("{0}:", Html.DisplayNameFor(model => model.Cnpj)):
                        </th>
                        <td class="text-left">
                            @Html.DisplayFor(model => model.Cnpj)
                        </td>
                    </tr>
                    <tr>
                        <th class="text-right">
                            @string.Format("{0}:", Html.DisplayNameFor(model => model.EnderecoEmpresa)):
                        </th>
                        <td class="text-left">
                            @Html.DisplayFor(model => model.EnderecoEmpresa)
                        </td>
                    </tr>
                    |
                    <tr>
                        <th class="text-right">
                            @string.Format("{0}:", Html.DisplayNameFor(model => model.TelefoneEmpresa)):
                        </th>
                        <td class="text-left">
                            @Html.DisplayFor(model => model.TelefoneEmpresa)
                        </td>
                    </tr>
                </table>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <br />
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12 btn-group">
                                @Html.ActionLink("Voltar", "Index", "", new { @class = "btn btn-default" })
                                <input type="submit" value="Excluir" class="btn btn-danger" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @Html.Partial("_footerAdmin")
</section>
