@model KiDelicia.Models.Empresa

@{
    ViewBag.Title = "Editar Empresa";
}

<section id="page-content">
    <div class="header-content">
        <h2><i class="fa fa-building-o"></i>@ViewBag.Title <span>Digite os dados da empresa</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Você está aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="@Url.Action("index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li class="active">@ViewBag.Title</li>
            </ol>
        </div>
    </div>
    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.EmpresaId)
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Nome, string.Format("{0}:", Html.DisplayNameFor(model => model.Nome)), htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Representante, string.Format("{0}:", Html.DisplayNameFor(model => model.Representante)), htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Representante, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Representante, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Telefone, string.Format("{0}:", Html.DisplayNameFor(model => model.Telefone)), htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control maskTelefone" } })
                                    @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Descricao, HttpUtility.HtmlDecode(string.Format("{0}:", Html.DisplayNameFor(model => model.Descricao))), htmlAttributes: new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control", @rows = "5" })
                                    @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 btn-group">
                                    @Html.ActionLink("Voltar", "Index", "", new { @class = "btn btn-default" })
                                    <input type="submit" value="Atualizar" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </div>
                }

             </div>
        </div>
    </div>
    @Html.Partial("_footerAdmin")
</section>
