@model IEnumerable<KiDelicia.Models.Empresa>

@{
    ViewBag.Title = "Empresas";
}

<section id="page-content">
    <div class="header-content">
        <h2><i class="fa fa-building-o"></i>Listar Empresas</h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Você está aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="@Url.Action("index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Listar Empresas</li>
            </ol>
        </div>
    </div>
    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <p>
                    @Html.ActionLink("Nova Empresa", "Create", "Empresa")
                </p>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.NomeEmpresa)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Representante)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telefone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Descricao)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomeEmpresa)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Representante)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefone)
                                </td>
                                <td>
                                    @(item.Descricao == null ? "--" : item.Descricao)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.EmpresaId }) |
                                    @Html.ActionLink("Visualizar", "Details", new { id = item.EmpresaId }) |
                                    @Html.ActionLink("Excluir", "Delete", new { id = item.EmpresaId })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_footerAdmin")
</section>