
<aside id="sidebar-left" class="sidebar-circles">
    <br/>
    <ul class="sidebar-menu">
        <li class="">
            <a href="@Url.Action("index", "Home")">
                <span class="icon"><i class="fa fa-home"></i></span>
                <span class="text">Home</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("index", "Cliente")">
                <span class="icon"><i class="fa fa-user"></i></span>
                <span class="text">Cliente</span>
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("index", "Produto")">
                <span class="icon"><i class="fa fa-coffee"></i></span>
                <span class="text">Produto</span>
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("index", "Empresa")">
                <span class="icon"><i class="fa fa-building-o"></i></span>
                <span class="text">Empresa</span>
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("index", "ConsumoComanda")">
                <span class="icon"><i class="fa fa-share"></i></span>
                <span class="text">Lançar Consumo</span>
            </a>
        </li>
        <li class="">
            <a href="@Url.Action("index", "BaixaMes")">
                <span class="icon"><i class="fa fa-arrow-circle-right"></i></span>
                <span class="text">Dar Baixa</span>
            </a>
        </li>
    </ul>
    <div class="sidebar-footer hidden-xs hidden-sm hidden-md">
        <a id="setting" class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Setting"><i class="fa fa-cog"></i></a>
        <a id="fullscreen" class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Fullscreen"><i class="fa fa-desktop"></i></a>
        <a id="lock-screen" data-url="index?r=admin%2Fpage%2Flockscreen" class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Lock Screen"><i class="fa fa-lock"></i></a>
        <a id="logout" data-url="index?r=admin%2Fpage%2Fsignin" class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Logout"><i class="fa fa-power-off"></i></a>
    </div><!-- /.sidebar-footer -->
    <!--/ End left navigation - footer -->

</aside><!-- /#sidebar-left -->
