@model IEnumerable<KiDelicia.Models.BaixaMes>

@{
    ViewBag.Title = "Listar Baixas Mensais";
}

<section id="page-content">
    <div class="header-content">
        <h2><i class="fa fa-download"></i>@ViewBag.Title</h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Você está aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="@Url.Action("index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li class="active">@ViewBag.Title</li>
            </ol>
        </div>
    </div>
    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <p>
                    @Html.ActionLink("Dar Baixa Mensal", "Create", "BaixaMes")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            Consumidor
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataMesReferencia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ValorMes)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DataCadastro)
                        </th>
                        <th>Opções</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @(item.FlagCliente ? ("Cliente: " + item.Cliente.NomeCliente) : ("Empresa: " + item.Empresa.NomeEmpresa))
                            </td>
                            <td>
                                @item.DataMesReferencia.Month
                            </td>
                            <td>
                                @item.ValorMes
                            </td>
                            <td>
                                @item.DataCadastro.Date
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.BaixaMesId }) |
                                @Html.ActionLink("Visualizar", "Details", new { id = item.BaixaMesId }) |
                                @Html.ActionLink("Deletar", "Delete", new { id = item.BaixaMesId })
                            </td>
                        </tr>
                    }
                </table>

            </div>
        </div>
    </div>
    @Html.Partial("_footerAdmin")
</section>