@model KiDelicia.Models.Produto

@{
    ViewBag.Title = "Visualizar Produto";
}

<h2>Visualizar Produto</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @HttpUtility.HtmlDecode(string.Format("{0}:", Html.DisplayNameFor(model => model.CodigoProduto)))
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoProduto)
        </dd>

        <dt>
            @string.Format("{0}:", Html.DisplayNameFor(model => model.NomeProduto))
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>

        <dt>
            @HttpUtility.HtmlDecode(string.Format("{0}:", Html.DisplayNameFor(model => model.ValorProduto)))
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorProduto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ProdutoId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
