@model KiDelicia.Models.Produto

@{
    ViewBag.Title = "Editar Produto";
}

<section id="page-content">
    <div class="header-content">
        <h2><i class="fa fa-coffee"></i>Editar Produto <span>Digite os dados do produto</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Você está aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="@Url.Action("index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Editar Produto</li>
            </ol>
        </div>
    </div>
    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ProdutoId)
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.CodigoProduto, HttpUtility.HtmlDecode(string.Format("{0}:", Html.DisplayNameFor(model => model.CodigoProduto))), htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CodigoProduto, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CodigoProduto, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.NomeProduto, string.Format("{0}:", Html.DisplayNameFor(model => model.NomeProduto)), htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.NomeProduto, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NomeProduto, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.ValorProduto, HttpUtility.HtmlDecode(string.Format("{0}:", Html.DisplayNameFor(model => model.ValorProduto))), htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.ValorProduto, new { htmlAttributes = new { @class = "form-control maskMoney" } })
                                    @Html.ValidationMessageFor(model => model.ValorProduto, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 btn-group">
                                    @Html.ActionLink("Voltar", "Index", "", new { @class = "btn btn-default" })
                                    <input type="submit" value="Atualizar" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @Html.Partial("_footerAdmin")
</section>