@model IEnumerable<KiDelicia.Models.Produto>

@{
    ViewBag.Title = "Produtos";
}

<section id="page-content">
    <div class="header-content">
        <h2><i class="fa fa-coffee"></i>Listar Produtos</h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Você está aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="@Url.Action("index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Listar Produtos</li>
            </ol>
        </div>
    </div>
    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <p>
                    @Html.ActionLink("Novo Produto", "Create", "Produto")
                </p>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CodigoProduto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NomeProduto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ValorProduto)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CodigoProduto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomeProduto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ValorProduto)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.ProdutoId }) |
                                    @Html.ActionLink("Visualizar", "Details", new { id = item.ProdutoId }) |
                                    @Html.ActionLink("Excluir", "Delete", new { id = item.ProdutoId })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_footerAdmin")
</section>