@{
    ViewBag.Title = "Página Inicial";
}

<section id="page-content">
    <div class="header-content">
        <h2><i class="fa fa-picture-o"></i> Restaurante K Delícia <span>galeria de fotos</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Estou aqui:</span>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-home"></i>
                    <a href="@Url.Action("index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
            </ol>
        </div>
    </div>

    @if (TempData["Mensagem"] != null)
    {
        <div class="alert alert-success">
            @TempData["Mensagem"];
        </div>
    }


    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="panel rounded shadow">
                    <div class="ribbon-wrapper">
                        <div class="ribbon ribbon-success"><i class="fa fa-star"></i> K Delícia</div>
                    </div>
                    <div class="panel-body no-padding text-center rounded">
                        <img src="@Url.Content("/Content")/global/img/food/chefe-cozinha-1.jpg" alt="..." class="img-responsive" />
                        <div class="inner-all block text-center mt-20 mb-20">
                            <p class="text-muted">
                                Saborosa!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="panel rounded shadow">
                    <div class="ribbon-wrapper">
                        <div class="ribbon ribbon-success"><i class="fa fa-star"></i> K Delícia</div>
                    </div>
                    <div class="panel-body no-padding text-center rounded">
                        <img src="@Url.Content("/Content")/global/img/food/chefe-cozinha-2.jpg" alt="..." class="img-responsive" />
                        <div class="inner-all block text-center mt-20 mb-20">
                            <p class="text-muted">
                                Preparada com qualidade!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="panel rounded shadow">
                    <div class="ribbon-wrapper">
                        <div class="ribbon ribbon-success"><i class="fa fa-star"></i> K Delícia</div>
                    </div>
                    <div class="panel-body no-padding text-center rounded">
                        <img src="@Url.Content("/Content")/global/img/food/chefe-cozinha-3.jpg" alt="..." class="img-responsive" />
                        <div class="inner-all block text-center mt-20 mb-20">
                            <p class="text-muted">
                                Cheirosa!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="panel rounded shadow">
                    <div class="ribbon-wrapper">
                        <div class="ribbon ribbon-success"><i class="fa fa-star"></i> K Delícia</div>
                    </div>
                    <div class="panel-body no-padding text-center rounded">
                        <img src="@Url.Content("/Content")/global/img/food/chefe-cozinha-4.jpg" alt="..." class="img-responsive" />
                        <div class="inner-all block text-center mt-20 mb-20">
                            <p class="text-muted">
                                Em cada detalhe!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="panel rounded shadow">
                    <div class="ribbon-wrapper">
                        <div class="ribbon ribbon-success"><i class="fa fa-star"></i> K Delícia</div>
                    </div>
                    <div class="panel-body no-padding text-center rounded">
                        <img src="@Url.Content("/Content")/global/img/food/chefe-cozinha-5.jpg" alt="..." class="img-responsive" />
                        <div class="inner-all block text-center mt-20 mb-20">
                            <p class="text-muted">
                                Atraente!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="panel rounded shadow">
                    <div class="ribbon-wrapper">
                        <div class="ribbon ribbon-success"><i class="fa fa-star"></i> K Delícia</div>
                    </div>
                    <div class="panel-body no-padding text-center rounded">
                        <img src="@Url.Content("/Content")/global/img/food/3.jpg" alt="..." class="img-responsive" />
                        <div class="inner-all block text-center mt-20 mb-20">
                            <p class="text-muted">
                                Venha experimentar!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_footerAdmin")
</section>