@model KiDelicia.Models.Cliente

@{
    ViewBag.Title = "Cadastrar Cliente";
}

<section id="page-content">
    <div class="header-content">
        <h2><i class="fa fa-user"></i>Cadastrar Cliente <span>Digite os dados do cliente</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Você está aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="@Url.Action("index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Cadastrar Cliente</li>
            </ol>
        </div>
    </div>
    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.NomeCliente, string.Format("{0}:", Html.DisplayNameFor(model => model.NomeCliente)), htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.NomeCliente, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NomeCliente, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Empresa, string.Format("{0}:", Html.DisplayNameFor(model => model.Empresa)), htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Empresa, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Empresa, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Setor, string.Format("{0}:", Html.DisplayNameFor(model => model.Setor)), htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Setor, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Setor, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Telefone, string.Format("{0}:", Html.DisplayNameFor(model => model.Telefone)), htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control maskTelefone" } })
                                    @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.Descricao, HttpUtility.HtmlDecode(string.Format("{0}:", Html.DisplayNameFor(model => model.Descricao))), htmlAttributes: new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control", @rows = "5" })
                                    @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 btn-group">
                                    @Html.ActionLink("Voltar", "Index", "", new { @class = "btn btn-default" })
                                    <input type="submit" value="Cadastrar" class="btn btn-success" />
                                </div>
                            </div>                            
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @Html.Partial("_footerAdmin")
</section>  