@model KiDelicia.Models.Cliente

@{
    ViewBag.Title = "Visualizar Cliente";
}

<section id="page-content">
    <div class="header-content">
        <h2><i class="fa fa-user"></i>Visualizar Cliente</h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Você está aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="@Url.Action("index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Visualizar Cliente</li>
            </ol>
        </div>
    </div>
    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">  
                <table class="table">
                    <tr>
                        <th class="text-right">
                            @Html.DisplayNameFor(model => model.Nome:
                        </th>
                        <td class="text-left">
                            @Html.DisplayFor(model => model.Nome)
                        </td>
                    </tr>
                    <tr>
                        <th class="text-right">
                            @Html.DisplayNameFor(model => model.Empresa):
                        </th>
                        <td class="text-left">
                            @Html.DisplayFor(model => model.Empresa)
                        </td>
                    </tr>
                    <tr>
                        <th class="text-right">
                            @Html.DisplayNameFor(model => model.Setor):
                        </th>
                        <td class="text-left">
                            @Html.DisplayFor(model => model.Setor)
                        </td>
                    </tr>
                    <tr>
                        <th class="text-right">
                            @Html.DisplayNameFor(model => model.Telefone):
                        </th>
                        <td class="text-left">
                            @Html.DisplayFor(model => model.Telefone)
                        </td>
                    </tr>
                    <tr>
                        <th class="text-right">
                            @Html.DisplayNameFor(model => model.Descricao):
                        </th>
                        <td class="text-left">
                            @Html.DisplayFor(model => model.Descricao)
                        </td>
                    </tr>
                </table>                    
                <p>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.ClienteId }) | @Html.ActionLink("Voltar", "Index")
                </p>
            </div>
        </div>
    </div>
    @Html.Partial("_footerAdmin")
</section>
