@model KiDelicia.Models.Cliente

@{
    ViewBag.Title = "Visualizar";
}

<h2>Detalhe</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnderecoCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnderecoCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefoneCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefoneCliente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ClienteId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
