@model KiDelicia.ViewModel.CadastroUsuarioViewModel

@{
    ViewBag.Title = "Cadastrar";
}

<section id="page-content">
    <div class="header-content">
        <h2><i class="fa fa-user"></i>Cadastrar Usuario <span>Digite os dados do Usuário</span></h2>
        <div class="breadcrumb-wrapper hidden-xs">
            <span class="label">Você está aqui:</span>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="@Url.Action("index", "Home")">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li class="active">Cadastrar Usuário</li>
            </ol>
        </div>
    </div>

    <div class="body-content animated fadeIn">
        <div class="row">
            <div class="col-md-12">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="row">
                                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                @Html.LabelFor(model => model.ConfinacaoSenha, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.ConfinacaoSenha, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ConfinacaoSenha, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 btn-group">

                                    <input type="submit" value="Cadastrar" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    @Html.Partial("_footerAdmin")
</section>
@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
